
body {
    font-family: 'karla', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
}

main-menu{
    margin: 20px 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
main-menu li{
    padding: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-right: 10px;
}
main-menu li a, a:hover {
    padding: 10px;
    color: #333333;
}
main-menu .current-menu-item {
    background-color: #FFFFFF;
}
main-menu .current-menu-item a, #main-menu .current-menu-item a:hover {
    color: #333333;
}
.page{
    padding: 20px;
    background-color: #FFFFFF;
}





